In [2]:
import pandas as pd
import numpy as np

In [3]:
import sys
sys.path.append('../lib')

from main import Main

In [9]:
filename = '../data/in/ES.ohlcv-1m.csv'
df = pd.read_csv(filename, index_col='ts_event')

df

,rtype,publisher_id,instrument_id,open,high,low,close,volume,symbol
ts_event,,,,,,,,,
2017-05-21T22:00:00.000000000Z,33,1,9006,2381.75,2382.25,2381.00,2382.00,1632,ES.v.0
2017-05-21T22:01:00.000000000Z,33,1,9006,2381.75,2382.00,2381.75,2381.75,209,ES.v.0
2017-05-21T22:02:00.000000000Z,33,1,9006,2382.00,2382.75,2382.00,2382.50,766,ES.v.0
2017-05-21T22:03:00.000000000Z,33,1,9006,2382.50,2383.25,2382.25,2383.00,824,ES.v.0
2017-05-21T22:04:00.000000000Z,33,1,9006,2383.25,2383.25,2382.75,2383.25,640,ES.v.0
...,...,...,...,...,...,...,...,...,...
2023-11-10T21:55:00.000000000Z,33,1,314863,4423.00,4423.25,4422.50,4423.00,551,ES.v.0
2023-11-10T21:56:00.000000000Z,33,1,314863,4423.00,4423.25,4422.00,4422.50,879,ES.v.0
2023-11-10T21:57:00.000000000Z,33,1,314863,4422.25,4424.00,4422.25,4423.50,1228,ES.v.0
2023-11-10T21:58:00.000000000Z,33,1,314863,4424.00,4425.00,4423.50,4424.00,839,ES.v.0
2023-11-10T21:59:00.000000000Z,33,1,314863,4424.25,4424.75,4423.50,4424.50,697,ES.v.0

In [13]:
# get split data from 2017-05-21 to 2017-11-30
sample_df = df.loc['2017-05-21':'2017-11-30']
# save sample df to a csv file
sample_df.to_csv('../data/out/ES.ohlcv-1m.sample.csv')

In [8]:
df_15min = df.resample('5T').agg({'open': 'first', 
                                       'high': 'max',
                                       'low': 'min',
                                       'close': 'last',
                                       'volume': 'sum'})

                        open     high      low    close  volume
timestamp
2023-10-22 18:00:00  4256.25  4260.50  4248.00  4256.00    8944
2023-10-22 18:05:00  4255.75  4258.25  4254.75  4257.50    1981
2023-10-22 18:10:00  4257.25  4260.50  4257.00  4259.75    1801
2023-10-22 18:15:00  4259.50  4260.25  4257.25  4257.25     803
2023-10-22 18:20:00  4257.50  4258.50  4257.25  4257.50     701
...                      ...      ...      ...      ...     ...
2023-11-06 16:35:00  4380.50  4380.75  4380.50  4380.50     408
2023-11-06 16:40:00  4380.50  4381.50  4380.25  4381.25     950
2023-11-06 16:45:00  4381.25  4381.25  4380.75  4381.00     597
2023-11-06 16:50:00  4380.75  4381.00  4380.50  4381.00     590
2023-11-06 16:55:00  4380.75  4381.00  4380.00  4380.25    1070

[4308 rows x 5 columns]

In [ ]:
# Create data visualization as chart bars