In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load sample data with ts_event as datetime index
df = pd.read_csv('../data/out/ES.ohlcv-1m.sample.csv', index_col='ts_event', parse_dates=True)

In [3]:
regular_df = df.resample('5T').agg({'open': 'first', 
                                       'high': 'max',
                                       'low': 'min',
                                       'close': 'last',
                                       'volume': 'sum'})
# regular_df = df.asfreq('T')
regular_df[regular_df.isna().any(axis=1)]

# drop nan values
regular_df.dropna(inplace=True)

In [14]:
# Split dataframe by day
df_by_day = regular_df.groupby(pd.Grouper(freq='D'))

# Get the first day
first_day = df_by_day.get_group(list(df_by_day.groups.keys())[1])

df_by_day.get_group(1)

KeyError: 1

In [20]:
df_by_day.groups.keys()

dict_keys([Timestamp('2017-05-21 00:00:00+0000', tz='UTC'), Timestamp('2017-05-22 00:00:00+0000', tz='UTC'), Timestamp('2017-05-23 00:00:00+0000', tz='UTC'), Timestamp('2017-05-24 00:00:00+0000', tz='UTC'), Timestamp('2017-05-25 00:00:00+0000', tz='UTC'), Timestamp('2017-05-26 00:00:00+0000', tz='UTC'), Timestamp('2017-05-27 00:00:00+0000', tz='UTC'), Timestamp('2017-05-28 00:00:00+0000', tz='UTC'), Timestamp('2017-05-29 00:00:00+0000', tz='UTC'), Timestamp('2017-05-30 00:00:00+0000', tz='UTC'), Timestamp('2017-05-31 00:00:00+0000', tz='UTC'), Timestamp('2017-06-01 00:00:00+0000', tz='UTC'), Timestamp('2017-06-02 00:00:00+0000', tz='UTC'), Timestamp('2017-06-03 00:00:00+0000', tz='UTC'), Timestamp('2017-06-04 00:00:00+0000', tz='UTC'), Timestamp('2017-06-05 00:00:00+0000', tz='UTC'), Timestamp('2017-06-06 00:00:00+0000', tz='UTC'), Timestamp('2017-06-07 00:00:00+0000', tz='UTC'), Timestamp('2017-06-08 00:00:00+0000', tz='UTC'), Timestamp('2017-06-09 00:00:00+0000', tz='UTC'), Timestamp('2017-06-10 00:00:00+0000', tz='UTC'), Timestamp('2017-06-11 00:00:00+0000', tz='UTC'), Timestamp('2017-06-12 00:00:00+0000', tz='UTC'), Timestamp('2017-06-13 00:00:00+0000', tz='UTC'), Timestamp('2017-06-14 00:00:00+0000', tz='UTC'), Timestamp('2017-06-15 00:00:00+0000', tz='UTC'), Timestamp('2017-06-16 00:00:00+0000', tz='UTC'), Timestamp('2017-06-17 00:00:00+0000', tz='UTC'), Timestamp('2017-06-18 00:00:00+0000', tz='UTC'), Timestamp('2017-06-19 00:00:00+0000', tz='UTC'), Timestamp('2017-06-20 00:00:00+0000', tz='UTC'), Timestamp('2017-06-21 00:00:00+0000', tz='UTC'), Timestamp('2017-06-22 00:00:00+0000', tz='UTC'), Timestamp('2017-06-23 00:00:00+0000', tz='UTC'), Timestamp('2017-06-24 00:00:00+0000', tz='UTC'), Timestamp('2017-06-25 00:00:00+0000', tz='UTC'), Timestamp('2017-06-26 00:00:00+0000', tz='UTC'), Timestamp('2017-06-27 00:00:00+0000', tz='UTC'), Timestamp('2017-06-28 00:00:00+0000', tz='UTC'), Timestamp('2017-06-29 00:00:00+0000', tz='UTC'), Timestamp('2017-06-30 00:00:00+0000', tz='UTC'), Timestamp('2017-07-01 00:00:00+0000', tz='UTC'), Timestamp('2017-07-02 00:00:00+0000', tz='UTC'), Timestamp('2017-07-03 00:00:00+0000', tz='UTC'), Timestamp('2017-07-04 00:00:00+0000', tz='UTC'), Timestamp('2017-07-05 00:00:00+0000', tz='UTC'), Timestamp('2017-07-06 00:00:00+0000', tz='UTC'), Timestamp('2017-07-07 00:00:00+0000', tz='UTC'), Timestamp('2017-07-08 00:00:00+0000', tz='UTC'), Timestamp('2017-07-09 00:00:00+0000', tz='UTC'), Timestamp('2017-07-10 00:00:00+0000', tz='UTC'), Timestamp('2017-07-11 00:00:00+0000', tz='UTC'), Timestamp('2017-07-12 00:00:00+0000', tz='UTC'), Timestamp('2017-07-13 00:00:00+0000', tz='UTC'), Timestamp('2017-07-14 00:00:00+0000', tz='UTC'), Timestamp('2017-07-15 00:00:00+0000', tz='UTC'), Timestamp('2017-07-16 00:00:00+0000', tz='UTC'), Timestamp('2017-07-17 00:00:00+0000', tz='UTC'), Timestamp('2017-07-18 00:00:00+0000', tz='UTC'), Timestamp('2017-07-19 00:00:00+0000', tz='UTC'), Timestamp('2017-07-20 00:00:00+0000', tz='UTC'), Timestamp('2017-07-21 00:00:00+0000', tz='UTC'), Timestamp('2017-07-22 00:00:00+0000', tz='UTC'), Timestamp('2017-07-23 00:00:00+0000', tz='UTC'), Timestamp('2017-07-24 00:00:00+0000', tz='UTC'), Timestamp('2017-07-25 00:00:00+0000', tz='UTC'), Timestamp('2017-07-26 00:00:00+0000', tz='UTC'), Timestamp('2017-07-27 00:00:00+0000', tz='UTC'), Timestamp('2017-07-28 00:00:00+0000', tz='UTC'), Timestamp('2017-07-29 00:00:00+0000', tz='UTC'), Timestamp('2017-07-30 00:00:00+0000', tz='UTC'), Timestamp('2017-07-31 00:00:00+0000', tz='UTC'), Timestamp('2017-08-01 00:00:00+0000', tz='UTC'), Timestamp('2017-08-02 00:00:00+0000', tz='UTC'), Timestamp('2017-08-03 00:00:00+0000', tz='UTC'), Timestamp('2017-08-04 00:00:00+0000', tz='UTC'), Timestamp('2017-08-05 00:00:00+0000', tz='UTC'), Timestamp('2017-08-06 00:00:00+0000', tz='UTC'), Timestamp('2017-08-07 00:00:00+0000', tz='UTC'), Timestamp('2017-08-08 00:00:00+0000', tz='UTC'), Timestamp('2017-08-09 00:00:00+0000', tz='UTC'), Timestamp('2017-08-10 00:00:00+0000', tz='UTC'), Timestamp('2017-08-11 00:00:00+0000', tz='UTC'), Timestamp('2017-08-12 00:00:00+0000', tz='UTC'), Timestamp('2017-08-13 00:00:00+0000', tz='UTC'), Timestamp('2017-08-14 00:00:00+0000', tz='UTC'), Timestamp('2017-08-15 00:00:00+0000', tz='UTC'), Timestamp('2017-08-16 00:00:00+0000', tz='UTC'), Timestamp('2017-08-17 00:00:00+0000', tz='UTC'), Timestamp('2017-08-18 00:00:00+0000', tz='UTC'), Timestamp('2017-08-19 00:00:00+0000', tz='UTC'), Timestamp('2017-08-20 00:00:00+0000', tz='UTC'), Timestamp('2017-08-21 00:00:00+0000', tz='UTC'), Timestamp('2017-08-22 00:00:00+0000', tz='UTC'), Timestamp('2017-08-23 00:00:00+0000', tz='UTC'), Timestamp('2017-08-24 00:00:00+0000', tz='UTC'), Timestamp('2017-08-25 00:00:00+0000', tz='UTC'), Timestamp('2017-08-26 00:00:00+0000', tz='UTC'), Timestamp('2017-08-27 00:00:00+0000', tz='UTC'), Timestamp('2017-08-28 00:00:00+0000', tz='UTC'), Timestamp('2017-08-29 00:00:00+0000', tz='UTC'), Timestamp('2017-08-30 00:00:00+0000', tz='UTC'), Timestamp('2017-08-31 00:00:00+0000', tz='UTC'), Timestamp('2017-09-01 00:00:00+0000', tz='UTC'), Timestamp('2017-09-02 00:00:00+0000', tz='UTC'), Timestamp('2017-09-03 00:00:00+0000', tz='UTC'), Timestamp('2017-09-04 00:00:00+0000', tz='UTC'), Timestamp('2017-09-05 00:00:00+0000', tz='UTC'), Timestamp('2017-09-06 00:00:00+0000', tz='UTC'), Timestamp('2017-09-07 00:00:00+0000', tz='UTC'), Timestamp('2017-09-08 00:00:00+0000', tz='UTC'), Timestamp('2017-09-09 00:00:00+0000', tz='UTC'), Timestamp('2017-09-10 00:00:00+0000', tz='UTC'), Timestamp('2017-09-11 00:00:00+0000', tz='UTC'), Timestamp('2017-09-12 00:00:00+0000', tz='UTC'), Timestamp('2017-09-13 00:00:00+0000', tz='UTC'), Timestamp('2017-09-14 00:00:00+0000', tz='UTC'), Timestamp('2017-09-15 00:00:00+0000', tz='UTC'), Timestamp('2017-09-16 00:00:00+0000', tz='UTC'), Timestamp('2017-09-17 00:00:00+0000', tz='UTC'), Timestamp('2017-09-18 00:00:00+0000', tz='UTC'), Timestamp('2017-09-19 00:00:00+0000', tz='UTC'), Timestamp('2017-09-20 00:00:00+0000', tz='UTC'), Timestamp('2017-09-21 00:00:00+0000', tz='UTC'), Timestamp('2017-09-22 00:00:00+0000', tz='UTC'), Timestamp('2017-09-23 00:00:00+0000', tz='UTC'), Timestamp('2017-09-24 00:00:00+0000', tz='UTC'), Timestamp('2017-09-25 00:00:00+0000', tz='UTC'), Timestamp('2017-09-26 00:00:00+0000', tz='UTC'), Timestamp('2017-09-27 00:00:00+0000', tz='UTC'), Timestamp('2017-09-28 00:00:00+0000', tz='UTC'), Timestamp('2017-09-29 00:00:00+0000', tz='UTC'), Timestamp('2017-09-30 00:00:00+0000', tz='UTC'), Timestamp('2017-10-01 00:00:00+0000', tz='UTC'), Timestamp('2017-10-02 00:00:00+0000', tz='UTC'), Timestamp('2017-10-03 00:00:00+0000', tz='UTC'), Timestamp('2017-10-04 00:00:00+0000', tz='UTC'), Timestamp('2017-10-05 00:00:00+0000', tz='UTC'), Timestamp('2017-10-06 00:00:00+0000', tz='UTC'), Timestamp('2017-10-07 00:00:00+0000', tz='UTC'), Timestamp('2017-10-08 00:00:00+0000', tz='UTC'), Timestamp('2017-10-09 00:00:00+0000', tz='UTC'), Timestamp('2017-10-10 00:00:00+0000', tz='UTC'), Timestamp('2017-10-11 00:00:00+0000', tz='UTC'), Timestamp('2017-10-12 00:00:00+0000', tz='UTC'), Timestamp('2017-10-13 00:00:00+0000', tz='UTC'), Timestamp('2017-10-14 00:00:00+0000', tz='UTC'), Timestamp('2017-10-15 00:00:00+0000', tz='UTC'), Timestamp('2017-10-16 00:00:00+0000', tz='UTC'), Timestamp('2017-10-17 00:00:00+0000', tz='UTC'), Timestamp('2017-10-18 00:00:00+0000', tz='UTC'), Timestamp('2017-10-19 00:00:00+0000', tz='UTC'), Timestamp('2017-10-20 00:00:00+0000', tz='UTC'), Timestamp('2017-10-21 00:00:00+0000', tz='UTC'), Timestamp('2017-10-22 00:00:00+0000', tz='UTC'), Timestamp('2017-10-23 00:00:00+0000', tz='UTC'), Timestamp('2017-10-24 00:00:00+0000', tz='UTC'), Timestamp('2017-10-25 00:00:00+0000', tz='UTC'), Timestamp('2017-10-26 00:00:00+0000', tz='UTC'), Timestamp('2017-10-27 00:00:00+0000', tz='UTC'), Timestamp('2017-10-28 00:00:00+0000', tz='UTC'), Timestamp('2017-10-29 00:00:00+0000', tz='UTC'), Timestamp('2017-10-30 00:00:00+0000', tz='UTC'), Timestamp('2017-10-31 00:00:00+0000', tz='UTC'), Timestamp('2017-11-01 00:00:00+0000', tz='UTC'), Timestamp('2017-11-02 00:00:00+0000', tz='UTC'), Timestamp('2017-11-03 00:00:00+0000', tz='UTC'), Timestamp('2017-11-04 00:00:00+0000', tz='UTC'), Timestamp('2017-11-05 00:00:00+0000', tz='UTC'), Timestamp('2017-11-06 00:00:00+0000', tz='UTC'), Timestamp('2017-11-07 00:00:00+0000', tz='UTC'), Timestamp('2017-11-08 00:00:00+0000', tz='UTC'), Timestamp('2017-11-09 00:00:00+0000', tz='UTC'), Timestamp('2017-11-10 00:00:00+0000', tz='UTC'), Timestamp('2017-11-11 00:00:00+0000', tz='UTC'), Timestamp('2017-11-12 00:00:00+0000', tz='UTC'), Timestamp('2017-11-13 00:00:00+0000', tz='UTC'), Timestamp('2017-11-14 00:00:00+0000', tz='UTC'), Timestamp('2017-11-15 00:00:00+0000', tz='UTC'), Timestamp('2017-11-16 00:00:00+0000', tz='UTC'), Timestamp('2017-11-17 00:00:00+0000', tz='UTC'), Timestamp('2017-11-18 00:00:00+0000', tz='UTC'), Timestamp('2017-11-19 00:00:00+0000', tz='UTC'), Timestamp('2017-11-20 00:00:00+0000', tz='UTC'), Timestamp('2017-11-21 00:00:00+0000', tz='UTC'), Timestamp('2017-11-22 00:00:00+0000', tz='UTC'), Timestamp('2017-11-23 00:00:00+0000', tz='UTC'), Timestamp('2017-11-24 00:00:00+0000', tz='UTC'), Timestamp('2017-11-25 00:00:00+0000', tz='UTC'), Timestamp('2017-11-26 00:00:00+0000', tz='UTC'), Timestamp('2017-11-27 00:00:00+0000', tz='UTC'), Timestamp('2017-11-28 00:00:00+0000', tz='UTC'), Timestamp('2017-11-29 00:00:00+0000', tz='UTC')])

In [27]:
# Access by timestamp
df_by_day.get_group(pd.Timestamp('2017-05-28', tz='UTC'))

                              open     high      low    close  volume
ts_event
2017-05-28 22:00:00+00:00  2414.00  2414.75  2413.75  2414.50     969
2017-05-28 22:05:00+00:00  2414.75  2416.75  2414.75  2415.75    1789
2017-05-28 22:10:00+00:00  2415.75  2416.00  2415.50  2415.50     108
2017-05-28 22:15:00+00:00  2415.25  2415.75  2415.25  2415.50     631
2017-05-28 22:20:00+00:00  2415.50  2415.75  2415.25  2415.75      75
2017-05-28 22:25:00+00:00  2415.75  2415.75  2415.50  2415.50      86
2017-05-28 22:30:00+00:00  2415.75  2416.25  2415.50  2416.00     315
2017-05-28 22:35:00+00:00  2416.00  2416.25  2416.00  2416.00      77
2017-05-28 22:40:00+00:00  2415.75  2416.00  2415.75  2415.75      65
2017-05-28 22:45:00+00:00  2415.75  2416.00  2415.75  2416.00      40
2017-05-28 22:50:00+00:00  2416.00  2416.50  2416.00  2416.25     342
2017-05-28 22:55:00+00:00  2416.25  2417.00  2416.25  2416.75     322
2017-05-28 23:00:00+00:00  2416.50  2417.00  2416.50  2416.50     295
2017-05-28 23:05:00+00:00  2416.50  2416.50  2416.50  2416.50      35
2017-05-28 23:10:00+00:00  2416.50  2416.75  2416.50  2416.75      76
2017-05-28 23:15:00+00:00  2416.75  2416.75  2416.50  2416.75      71
2017-05-28 23:20:00+00:00  2416.50  2416.50  2416.50  2416.50      13
2017-05-28 23:25:00+00:00  2416.50  2416.75  2416.50  2416.50     102
2017-05-28 23:30:00+00:00  2416.50  2416.75  2416.00  2416.00     248
2017-05-28 23:35:00+00:00  2416.00  2416.25  2416.00  2416.25      12
2017-05-28 23:40:00+00:00  2416.00  2416.00  2415.75  2415.75      75
2017-05-28 23:45:00+00:00  2415.75  2415.75  2415.50  2415.75     150
2017-05-28 23:50:00+00:00  2415.75  2416.00  2415.50  2415.50     133
2017-05-28 23:55:00+00:00  2415.75  2415.75  2415.50  2415.75     125

Timestamp('2017-05-28 00:00:00+0000', tz='UTC')

# Backtesting with backtesting.py
Running a sample Strategy with backtesting.py

In [4]:
import sys
sys.path.append('../lib')
from cleaning import resample

In [24]:

resampled_df = resample(df, '5T')
resampled_df

                              open     high      low    close  volume
ts_event
2017-05-21 22:00:00+00:00  2381.75  2383.25  2381.00  2383.25    4071
2017-05-21 22:05:00+00:00  2383.00  2384.00  2382.75  2383.00    1005
2017-05-21 22:10:00+00:00  2383.00  2383.25  2382.00  2382.25     770
2017-05-21 22:15:00+00:00  2382.25  2382.50  2382.00  2382.50     401
2017-05-21 22:20:00+00:00  2382.50  2382.75  2382.25  2382.50     316
...                            ...      ...      ...      ...     ...
2017-11-29 23:35:00+00:00  2625.00  2625.50  2625.00  2625.25     126
2017-11-29 23:40:00+00:00  2625.25  2625.50  2625.25  2625.50     101
2017-11-29 23:45:00+00:00  2625.50  2625.50  2625.25  2625.25      90
2017-11-29 23:50:00+00:00  2625.25  2625.50  2624.50  2624.50     377
2017-11-29 23:55:00+00:00  2624.75  2624.75  2624.00  2624.00     762

[55320 rows x 5 columns]

In [25]:
# Show rows with nan values
resampled_df[resampled_df.isna().any(axis=1)]

                           open  high  low  close  volume
ts_event
2017-05-22 20:15:00+00:00   NaN   NaN  NaN    NaN       0
2017-05-22 20:20:00+00:00   NaN   NaN  NaN    NaN       0
2017-05-22 20:25:00+00:00   NaN   NaN  NaN    NaN       0
2017-05-22 21:00:00+00:00   NaN   NaN  NaN    NaN       0
2017-05-22 21:05:00+00:00   NaN   NaN  NaN    NaN       0
...                         ...   ...  ...    ...     ...
2017-11-29 22:35:00+00:00   NaN   NaN  NaN    NaN       0
2017-11-29 22:40:00+00:00   NaN   NaN  NaN    NaN       0
2017-11-29 22:45:00+00:00   NaN   NaN  NaN    NaN       0
2017-11-29 22:50:00+00:00   NaN   NaN  NaN    NaN       0
2017-11-29 22:55:00+00:00   NaN   NaN  NaN    NaN       0

[17897 rows x 5 columns]

In [23]:
# resampled_df change column names with first letter uppercase
resampled_df.columns = [col.capitalize() for col in resampled_df.columns]
resampled_df.dropna(inplace=True)

In [21]:
# Backtesting
from backtesting import Backtest, Strategy
from backtesting.lib import crossover
import talib

class SmaCross(Strategy):
    def init(self):
        # Precompute the two moving averages
        self.ma1 = self.I(talib.SMA, self.data.Close, 20)
        self.ma2 = self.I(talib.SMA, self.data.Close, 10)

    def next(self):
        # If ma1 crosses above ma2, buy the asset
        if crossover(self.ma1, self.ma2):
            self.buy()

        # Else, if ma1 crosses below ma2, sell it
        elif crossover(self.ma2, self.ma1):
            self.sell()

bt = Backtest(resampled_df, SmaCross, cash=10000, commission=.002)
stats = bt.run()

Start                     2017-05-21 22:00...
End                       2017-11-29 23:55...
Duration                    192 days 01:55:00
Exposure Time [%]                    99.92518
Equity Final [$]                    10927.934
Equity Peak [$]                     10979.932
Return [%]                            9.27934
Buy & Hold Return [%]               10.101752
Return (Ann.) [%]                   14.420428
Volatility (Ann.) [%]                6.294713
Sharpe Ratio                         2.290879
Sortino Ratio                        3.923033
Calmar Ratio                         5.316603
Max. Drawdown [%]                   -2.712339
Avg. Drawdown [%]                   -0.105697
Max. Drawdown Duration       34 days 08:05:00
Avg. Drawdown Duration        0 days 13:40:00
# Trades                                    1
Win Rate [%]                            100.0
Best Trade [%]                       9.901866
Worst Trade [%]                      9.901866
Avg. Trade [%]                       9.901866
Max. Trade Duration         191 days 23:35:00
Avg. Trade Duration         191 days 23:35:00
Profit Factor                             NaN
Expectancy [%]                       9.901866
SQN                                       NaN
_strategy                            SmaCross
_equity_curve                             ...
_trades                      Size  EntryBa...
dtype: object